div.wrapper {
  padding: 80px 20px 20px;
  display: flex;
  justify-content: center;

  .mat-header-cell {
    text-align: center;
    justify-content: center;
  }

  .mat-cell {
    text-align: center;
    justify-content: center;
  }

  table {
    width: 70%;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  tr.detail-row {
    height: 0;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  mat-list-item {
    a {
      margin-right: 16px;
    }
  }
}
