<div id="page-wrapper">
  <div id="header-wrapper">
    <h1>Welcome in link-saver!</h1>
    <h2>Please log in to see your saved links...</h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button mat-stroked-button color="primary" [disabled]="loginForm.invalid">
      Log in!
    </button>
  </form>
</div>
